<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>画像タイル配置ツール</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <input type="text" id="folderPathInput" placeholder="Enter folder path...">
  <button id="loadButton">Load</button> <!-- Loadボタンを追加 -->

  <div/>

  <!-- 画像拡大ボタン -->
  <button id="zoomInButton">＋</button>
  <!-- 画像縮小ボタン -->
  <button id="zoomOutButton">－</button>

  <div class="container" id="container">
    <!-- ここに画像がタイル状に配置されます -->
  </div>

  <!-- リネームボタンを追加 -->
  <button id="renameButton">Rename</button>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='drag_and_drop.js') }}"></script>
  <script src="{{ url_for('static', filename='zoom.js') }}"></script>
</body>
</html>
